/* General Styles */
.image-text {
  position: relative;
}

.element1 {
  color: blue;
  position: relative;
  left: 80px;
  bottom: -18vh;
}

.element2 {
  color: rgb(0, 0, 0);
  position: relative;
  left: 80px;
  bottom: -130px;
  right: 5%;
}

.element3 {
  color: blueviolet;
  position: relative;
  left: 80px;
  bottom: -130px;
  right: 5%;
}

.home-button {
  position: relative;
  left: 5%;
  bottom: 240px;
  background-color: black;
  border-radius: 6px;
  color: white;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  outline: none;

}

a{
      
  text-decoration: none;
  color: white;
}

.home-button:hover {
  background-color: rgb(15, 7, 239);
}

.helloimg {
  width: 400px;
  position: relative;
  right: -50%;
  top: -15vh;
}

/* Responsive Styles for iPhone XR (414px width) */
@media (max-width: 450px) {
  .element1 {
      position: relative;
      left: 6px;
      bottom: -130px;
      text-align: center;
  }

  .element2 {
      position: relative;
      left: 6px;
      text-align: center;
  }

  .element3 {
      color: blueviolet;
      position: relative;
      left: 6px;
      text-align: center;
  }

  .helloimg {
      width: 250px;
      visibility: hidden;
     
      right: 10vh;
      top: -50vh;
      margin: 0 auto;
  }

  .home-button {
      position: relative;
      left: 12vh;
      bottom: -12vh;
      /* top: 100vh; */
      background-color: rgba(31, 64, 247, 0.912);
      border-radius: 6px;
      color: white;
      width: 80%;
      max-width: 200px;
      height: 50px;
      font-size: large;
      font-weight: 500;
      cursor: pointer;
      outline: none;
      margin: 20px auto;
  }




  .home-button:hover {
      background-color: rgb(89, 121, 238);
  }
}
